@model pickuphockey.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Preferences:</dt>
        <dd>
            [ @Html.ActionLink("Manage", "Preferences") ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins (@Model.Logins.Count):</dt>
        <dd>
            [ @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>
</div>
