@model IEnumerable<pickuphockey.Models.Session>
@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SiteTitle"];
}

<div class="row">
    <div class="col-md-4 text-center">
        <div class="row">
            <img src="~/Content/toyota_ice.jpg" alt="Toyota Center" width="320" height="163" />
        </div>
    </div>
    <div class="col-md-4 text-center container-fluid">
        <div class="row">
            <h1>@System.Configuration.ConfigurationManager.AppSettings["SiteTitle"]</h1>
            <p class="lead text-left">Welcome to the @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"] official player management portal.  This is your headquarters for viewing, buying, and selling your pickup spots.</p>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(ViewBag.StatusMessage)) {
<span class="alert-success alert">@ViewBag.StatusMessage</span>
}
<div class="row">
    <div>
        <h2>Upcoming Pickups</h2>
        @Html.Partial("_CurrentPickupsPartial", Model)
    </div>
</div>

<div class="row">
    <div>
        <h2>Past Pickups</h2>
        @Html.Partial("_PastPickupsPartial", Model)
    </div>
</div>
