@using Microsoft.AspNet.Identity
@using pickuphockey.Models
@model IEnumerable<BuySell>
@{
    var isAdmin = User.IsInRole("Admin");
    var isSubAdmin = User.IsInRole("SubAdmin");
}
<h2>Buys / Sells</h2>

<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamAssignment)
        </th>
        <th>
            Payment
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model)
{
    var buyerName = "TBD";
    var sellerName = "TBD";
    var sellingVerb = "SELLING TO";

    if (!string.IsNullOrEmpty(item.SellerUserId))
    {
        sellerName = item.SellerUser.FirstName + " " + item.SellerUser.LastName;
        if (isAdmin || isSubAdmin)
        {
            sellerName += " (" + string.Format("{0:0.0}", item.SellerUser.Rating) + ")";
        }
    }

    if (!string.IsNullOrEmpty(item.BuyerUserId))
    {
        buyerName = item.BuyerUser.FirstName + " " + item.BuyerUser.LastName;
        if (isAdmin || isSubAdmin)
        {
            buyerName += " (" + string.Format("{0:0.0}", item.BuyerUser.Rating) + ")";
        }
    }

    if (!string.IsNullOrEmpty(item.SellerUserId) && !string.IsNullOrEmpty(item.BuyerUserId))
    {
        sellingVerb = "SOLD TO";
    }
    <tr>
        <td>
            @sellerName @sellingVerb @buyerName
        </td>
        <td>
            @if (isAdmin)
            {
                if (item.SellerNote != null && item.SellerNote.Length > 0)
                {
                    <span>Flag:</span>@Html.CheckBoxFor(modelItem => item.SellerNoteFlagged, htmlAttributes: new { id = "SellerNoteFlagged_" + item.BuySellId })
                    <br />
                }
                @Html.DisplayFor(modelItem => item.SellerNote)
            } else if (!item.SellerNoteFlagged)
            {
                @Html.DisplayFor(modelItem => item.SellerNote)
            }
        </td>
        <td>
            @if (isAdmin)
            {
                if (item.BuyerNote != null && item.BuyerNote.Length > 0)
                {
                    <span>Flag:</span>@Html.CheckBoxFor(modelItem => item.BuyerNoteFlagged, htmlAttributes: new { id = "BuyerNoteFlagged_" + item.BuySellId })
                    <br />
                }
                @Html.DisplayFor(modelItem => item.BuyerNote)
            }
            else if (!item.BuyerNoteFlagged)
            {
                @Html.DisplayFor(modelItem => item.BuyerNote)
            }
        </td>
        <td>
            @if (isAdmin && !item.Session.IsPast)
            {
                @Html.EnumDropDownListFor(modelItem => item.TeamAssignment, htmlAttributes: new { id = "TeamAssignment_" + item.BuySellId, @class = "form-control" })
            }
            else
            {
                @Html.DisplayFor(modelItem => item.TeamAssignment)
            }
            </td>
        <td>
            @if (!string.IsNullOrEmpty(item.SellerUserId) && !string.IsNullOrEmpty(item.BuyerUserId) && item.BuyerUserId == User.Identity.GetUserId() && !item.PaymentSent)
            {
                <input type="image" src="~/Content/paynow.png" width="150" border="0" name="paynow" alt="Pay Now" onclick="location.href='@Url.Action("Payment", "BuySells", new { id = item.BuySellId })';return false;">
            }
            @if (!string.IsNullOrEmpty(item.BuyerUserId) && !string.IsNullOrEmpty(item.SellerUserId))
            {
                var canModifySent = (item.BuyerUserId == User.Identity.GetUserId()) || isAdmin;
                var canModifyReceived = (item.SellerUserId == User.Identity.GetUserId()) || isAdmin;

                <div>
                    @(canModifySent ? Html.CheckBoxFor(modelItem => item.PaymentSent, htmlAttributes: new { id = "PaymentSent_" + item.BuySellId }) : Html.CheckBoxFor(modelItem => item.PaymentSent, htmlAttributes: new { id = "PaymentSent_" + item.BuySellId, disabled = "disabled" }))
                    <span>Sent</span>
                    <br />
                    @(canModifyReceived ? Html.CheckBoxFor(modelItem => item.PaymentReceived, htmlAttributes: new { id = "PaymentReceived_" + item.BuySellId }) : Html.CheckBoxFor(modelItem => item.PaymentReceived, htmlAttributes: new { id = "PaymentReceived_" + item.BuySellId, disabled = "disabled" }))
                    <span>Received</span>
                </div>
            }
        </td>
        <td>
            @{
                if (!item.Session.IsPast)
                {
                    var canRemoveSeller = !string.IsNullOrEmpty(item.SellerUserId) && (string.IsNullOrEmpty(item.BuyerUserId) || isAdmin) && ((item.SellerUserId == User.Identity.GetUserId()) || isAdmin);
                    var canRemoveBuyer = !string.IsNullOrEmpty(item.BuyerUserId) && (string.IsNullOrEmpty(item.SellerUserId) || isAdmin)  && ((item.BuyerUserId == User.Identity.GetUserId()) || isAdmin);
                    
                    if (canRemoveSeller)
                    {
                        @Html.ActionLink("Remove Seller Spot", "RemoveSeller", "BuySells", new { id = item.BuySellId }, null)
                    }
                    if (canRemoveSeller && canRemoveBuyer)
                    {
                        <br/>
                    }
                    if (canRemoveBuyer)
                    {
                        @Html.ActionLink("Remove Buyer Spot", "RemoveBuyer", "BuySells", new { id = item.BuySellId }, null)
                    }
                }
            }
        </td>
    </tr>
}

</table>
