@model IEnumerable<pickuphockey.Models.BuySell>

<h2>Buys / Sells</h2>

<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerNote)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PaymentSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentReceived)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PaymentPreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamAssignment)
        </th>
    </tr>

@foreach (var item in Model)
{
    var buyerName = "TBD";
    var sellerName = "TBD";
    var sellingVerb = "SELLING TO";

    if (!string.IsNullOrEmpty(item.SellerUserId))
    {
        sellerName = item.SellerUser.FirstName + " " + item.SellerUser.LastName;
    }
    
    if (!string.IsNullOrEmpty(item.BuyerUserId))
    {
        buyerName = item.BuyerUser.FirstName + " " + item.BuyerUser.LastName;
    }

    if (!string.IsNullOrEmpty(item.SellerUserId) && !string.IsNullOrEmpty(item.BuyerUserId))
    {
        sellingVerb = "SOLD TO";
    }
    <tr>
        <td>
            @sellerName @sellingVerb @buyerName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerNote)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PaymentSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentReceived)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PaymentPreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamAssignment)
        </td>
    </tr>
}

</table>
