@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    var IsImpersonating = false;

    // TODO Move this to .cs file or maybe even ajax
    var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
    if (userManager != null)
    {
        if (User.Identity != null)
        {
            var userid = User.Identity.GetUserId();
            if (!string.IsNullOrEmpty(userid))
            {
                var user = userManager.FindById(userid);
                if (user != null)
                {
                    ViewBag.FirstName = user.FirstName;
                    ViewBag.IsAdmin = userManager.IsInRole(userid, "Admin") ? "true" : "false";
                    ViewBag.IsSubAdmin = userManager.IsInRole(userid, "SubAdmin") ? "true" : "false";
                    IsImpersonating = pickuphockey.Controllers.AccountController.IsImpersonating(User);
                    ViewBag.IsImpersonating = IsImpersonating ? "true" : "false";
                }
            }
        }
    }

    var webCalUrl = "/Home/Calendar";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='robots' content='noindex,follow' />
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"]</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights = window.appInsights ||
            function (config) {
                function r(config) {
                    t[config] = function () {
                        var i = arguments;
                        t.queue.push(function () { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0]
                    .parentNode.appendChild(s), t.cookie = u
                        .cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"];
                    i.length;
                ) r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"),
                    config.disableExceptionTracking ||
                    (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) {
                        var s = f && f(config, r, u, e, o);
                        return s !== !0 && t["_" + i](config, r, u, e, o), s
                    }), t
            }({ instrumentationKey: "a3174067-0f92-4eb6-b7b5-06338c5dd9af" });
        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XPZ93YNH06"></script>
    <!-- Global site tag (gtag.js) - Google Analytics hockeypickup.com -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XPZ93YNH06');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics pickuphockey.azurewebsites.net -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LKX869DTWJ');
    </script>
    <meta name="description" content="@System.Configuration.ConfigurationManager.AppSettings["SiteTitle"]" />

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" title="Home">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(System.Configuration.ConfigurationManager.AppSettings["SiteTitle"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (IsImpersonating)
                    {
                        <li>@Html.ActionLink("Impersonate", "Impersonate", "Account")</li>
                    }
                    <li title="Sessions">@Html.ActionLink("Sessions", "Index", "Sessions")</li>
                    <li title="Players">@Html.ActionLink("Players", "Index", "Users")</li>
                    <li title="About">@Html.ActionLink("About", "About", "Home")</li>
                    <li title="Sync Calendar"><a href="@Url.Action("Calendar", "Home")" title="Sync Calendar"><img alt="Sync Calendar" width="2" height="2" src="@Url.Content("~/Content/calendar.png")"></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.Year - @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"]&nbsp;-&nbsp;@Html.ActionLink("Privacy Policy", "Privacy", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/moment")
    @RenderSection("scripts", required: false)
</body>
</html>
