@model pickuphockey.Models.Session
@{ 
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin && Model.RegularSetId != null)
{
    <h2>Roster - @Model.RegularSet.Description</h2>
    <table class="table">
        <tr>
            <th>Light</th>
            <th>Dark</th>
        </tr>
        <tr>
            <td valign="top">
                @foreach (var item in Model.Regulars.Where(r => r.TeamAssignment == pickuphockey.Models.TeamAssignment.Light).OrderByDescending(r => r.PositionPreference).ThenBy(u => u.User.FirstName))
                {
                    @Html.DisplayFor(modelItem => item.User.FirstName)<span> </span>
                    @Html.DisplayFor(modelItem => item.User.LastName)<span>, </span>
                    @Html.DisplayFor(modelItem => item.PositionPreference)
                    <br />
                }
            </td>
            <td valign="top">
                @foreach (var item in Model.Regulars.Where(r => r.TeamAssignment == pickuphockey.Models.TeamAssignment.Dark).OrderByDescending(r => r.PositionPreference).ThenBy(u => u.User.FirstName))
                {
                    @Html.DisplayFor(modelItem => item.User.FirstName)<span> </span>
                    @Html.DisplayFor(modelItem => item.User.LastName)<span>, </span>
                    @Html.DisplayFor(modelItem => item.PositionPreference)
                    <br />
                }
            </td>
        </tr>
    </table>
}
