@using Microsoft.Ajax.Utilities
@model pickuphockey.Models.Session

@{
    ViewBag.Title = "Session Detail";
}

<h2>@Html.DisplayFor(model => model.SessionDate)</h2>

<div>
    @if (!Model.Note.IsNullOrWhiteSpace())
    {
        <h4>@Html.DisplayFor(model => model.Note)</h4>
    }

    <hr />
       Buy | Sell
    <hr />
    @if (Model.ActivityLogs.Count > 0)
    {
        foreach (var item in Model.ActivityLogs.OrderByDescending(i => i.CreateDateTime))
        {
            @Html.DisplayFor(modelItem => item.CreateDateTime, "LocalDateTime")
            <span> - </span>
            @Html.DisplayFor(modelItem => item.User.FirstName)
            <span> </span>
            @Html.DisplayFor(modelItem => item.User.LastName)
            <span> - </span>
            @Html.DisplayFor(modelItem => item.Activity)
            <br />
        }
    }
</div>
<hr />
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.SessionId })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
