@using System.Linq
@using Microsoft.Ajax.Utilities
@model pickuphockey.Models.Session

@{
    ViewBag.Title = "Session Detail - " + Model.SessionDate.ToString("dddd, MM/dd/yyyy, HH:mm");
}

<h2>@Html.DisplayFor(model => model.SessionDate)</h2>

<div>
    @if (!Model.Note.IsNullOrWhiteSpace())
    {
        <h4>@Html.DisplayFor(model => model.Note)</h4>
    }
    @if (TempData["Message"] != null)
    {
        <span class="text-danger">@TempData["Message"]</span>
    }
    <hr />
    @if (!Model.IsPast)
    {
        <div class="form-group">
            <div>
                <button onclick="location.href='@Url.Action("Sell", "BuySells", new { id = Model.SessionId })';return false;" class="btn">SELL MY SPOT</button>
                @if (Model.CanBuy) {
                    <button onclick="location.href='@Url.Action("Buy", "BuySells", new { id = Model.SessionId })';return false;" class="btn">BUY A SPOT</button>
                }
                else
                {
                    <div>Spots cannot be bought until @Model.BuyDateTime.ToString("dddd, MM/dd/yyyy, HH:mm").</div>
                }
            </div>
        </div>
    }
    else
    {
        <div>This session is past and closed to buys / sells.</div>
    }
    <hr />
    @Html.Partial("_BuySellsPartial", Model.BuySells)
    <hr />
    @if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["DisqusShortname"])) {
        @Html.Partial("_DisqusPartial", Model)
        <hr />
    }
    @Html.Partial("_ActivityLogsPartial", Model.ActivityLogs.OrderByDescending(i => i.CreateDateTime))
    <hr />
</div>
<hr />
<p>
    @if (User.IsInRole("Admin") && Model.CanEdit)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.SessionId })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
