@model IEnumerable<pickuphockey.Models.Session>

@{
    ViewBag.Title = "Pickup Sessions";
}

<h2>Pickup Sessions</h2>

@if (User.IsInRole("Admin")) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
     <tr>
         <td>
             @Html.ActionLink(item.SessionDate.ToString("dddd, MM/dd/yyyy"), "Details", "Sessions", new {id = item.SessionId}, null)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.Note)
         </td>
         @if (User.IsInRole("Admin")) {
         <td>
             @Html.ActionLink("Edit", "Edit", new {id = item.SessionId}) |
             @Html.ActionLink("Delete", "Delete", new {id = item.SessionId})
         </td>
         }
     </tr>
    }
</table>
