@model pickuphockey.Models.ApplicationUser

@{
    ViewBag.Title = "Pickup Players Details";
}

<h2>Pickup Player Details</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayPalEmail)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.NotificationPreference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preferred)
            </th>
        }
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.PayPalEmail)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.DisplayFor(model => model.NotificationPreference)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.Active)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.Preferred)
            </td>
        }
    </tr>
</table>
