@model IEnumerable<pickuphockey.Models.ApplicationUser>

@{
    ViewBag.Title = "Pickup Players";
}

<h2>Pickup Players</h2>
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Download Active", "DownloadActive")
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayPalEmail)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.NotificationPreference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preferred)
            </th>
            <th>&nbsp;</th>
        }
    </tr>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayPalEmail)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationPreference)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Active, htmlAttributes: new { id = "UserActive_" + item.Id })
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Preferred, htmlAttributes: new { id = "UserPreferred_" + item.Id })
                </td>
                <td>
                    @{
                        var spanid_a = "ActiveMessage_" + item.Id;
                        var spanid_p = "PreferredMessage_" + item.Id;
                    }
                    @{
                        <span id="@spanid_a"></span><br />
                        <span id="@spanid_p"></span>
                    }
                </td>
            }
        </tr>
        }
</table>
